# App
PORT=3000
NODE_ENV=production
LOG_LEVEL=warn
BASE_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=CHANGE_ME_TO_STRONG_PASSWORD
DB_NAME=shortener_dev

# Auth - OBRIGATÓRIO: Altere para produção!
JWT_SECRET=CHANGE_ME_TO_STRONG_SECRET_KEY_MIN_32_CHARS
JWT_EXPIRES_IN=1h

# Security
BCRYPT_ROUNDS=12
